
#logo {
    color: #5cb85c;
    /*border-color: #4cae4c;*/
    font-size: 2em;
    font-weight: bold;
}

.form {
    background-color: #b4b4b4;
    margin-top: 1em;
    border-radius: 5px;
}

.formHeader {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*
.divHeader {
    background-color: #5cb85c;
}*/
.user {
    color: #5cb85c;
    font-size: 1.5em;
    text-decoration: none;
    border: 1px #5cb85c solid;
    border-radius: 0.5em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.user:hover, .user:active {
    color: white;
    text-decoration: none;
}

.error {
    color: red;
}

.table-input {
    width: 6em;
}

.dashboard-input {
    display: inline-block;
}

#searchForm {
    width: 75% !important;
    padding: 15px;
    margin: 0 auto;
}

.filterForm {
    display: inline;
    width: 7em;
}

#minutes {
    width: 5em;
}
